.itemWrapper {
    position: relative;
}

.itemContent {
    display: flex;
    align-items: center;
    gap: 8px;
}

.dropPlaceholder {
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

.isDropping {
    height: 100%;
    border-radius: 2px;
    background-color: rgb(187, 187, 251);
}

.childrenItem {
    margin-left: 8px;
}

.itemToDrop {
    width: 100%;
}