.app {
  display: flex;
}

.appWrapper {
  max-height: 100vh;
  flex-wrap: nowrap;
}

.configuration {
  flex: 1;
}

.settings,
.panel {
  width: 350px;
}

.panel,
.configuration,
.settings {
  row-gap: 8px;
}
