.element,
.skeleton {
  padding: 8px 12px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.element {
  background-color: white;
  opacity: 0.6;
  font-size: 14px;
}

.withDragging {
  opacity: 1;
  cursor: pointer;
}

.isDragging {
  opacity: 0.2;
}

.isSelected {
  font-weight: bold;
}
