body {
  font-family: "Roboto", sans-serif;
  margin: 0px;
  height: 100vh;
}

* {
  box-sizing: border-box;
}

#root {
  height: 100vh;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
}

.react-json-view {
  height: 100%;
  width: 100%;
  padding: 24px;
  box-sizing: border-box;
  font-size: 18px;
}

#json-editor {
  height: 100%;
}

div[name="outer-box"] {
  height: unset !important;
  width: unset !important;

  & div[name="container"] {
    height: unset !important;
    width: inherit !important;
  }
}
