@mixin widget {
  max-height: 100%;
  min-height: 100%;
  width: 100%;
  position: relative;
  padding: 24px;
  box-sizing: border-box;
  overflow: hidden;
}

@mixin input {
}

@mixin noScroll {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
